<ion-content>


  <div class="container">
    <div class="logo-container">
      <img src="../../../assets/icon/icon.png" alt="Logo" class="logo">
    </div>

    <div class="form-container">
      <div class="header">
        <h1>Iniciar Sesión</h1>
      </div>

      <form [formGroup]="forma" (ngSubmit)="logIn()" class="input-group">
        <div class="input-container">
          <ion-input formControlName="correo" name="email" placeholder="Correo electrónico" class="input"></ion-input>
          <ion-label class="label">Correo Electrónico</ion-label>
        </div>
        <small class="invalid" *ngIf="forma.controls.correo.errors?.required && forma.controls.correo.touched">
          El Correo Electrónico es requerido
        </small>

        <div class="input-container">
          <ion-input formControlName="contrasena" name="password" [type]="changetype?'password':'text'" placeholder="Contraseña" class="input"></ion-input>
          <ion-label class="label">Contraseña</ion-label>
          <span class="eyeicon" (click)="verPass()">
            <ion-icon [name]="icon"></ion-icon>
          </span>
        </div>
        <small class="invalid" *ngIf="forma.controls.contrasena.errors?.required && forma.controls.contrasena.touched">
          La Contraseña es requerida
        </small>

        <ion-button [disabled]="forma.invalid" expand="block" type="submit" class="login-button">
          <ion-icon id="logoLogIn" name="log-in"></ion-icon>Ingresar
        </ion-button>

        <div class="register-container">
          <p class="register-text">¿Aún no tienes cuenta?</p>
          <p class="register-link" routerLink="/alta-cliente">REGÍSTRATE</p>
        </div>
      </form>
    </div>

    <ion-fab slot="fixed" horizontal="start" vertical="bottom">
      <ion-fab-button>
        <ion-icon name="chevron-up"></ion-icon>ACCESOS<br>RÁPIDOS
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button (click)="cargarUsuarioRapido('dueño')"><ion-icon name="briefcase"></ion-icon>DUEÑO</ion-button>
        <ion-button (click)="cargarUsuarioRapido('metre')"><ion-icon name="footsteps"></ion-icon>METRE</ion-button>
        <ion-button (click)="cargarUsuarioRapido('mozo')"><ion-icon name="cafe"></ion-icon>MOZO</ion-button>
        <ion-button (click)="cargarUsuarioRapido('cocinero')"><ion-icon name="restaurant"></ion-icon>COCINERO</ion-button>
        <ion-button (click)="cargarUsuarioRapido('bartender')"><ion-icon name="wine"></ion-icon>BARTENDER</ion-button>
        <ion-button (click)="cargarUsuarioRapido('cliente')"><ion-icon name="person"></ion-icon>CLIENTE</ion-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
