@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

ion-content {
  --background: url('../../../assets/splashBackground.png') no-repeat center center fixed;
  background-size: cover;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 0;
}

.logo-container {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.logo {
  height: 200px;
  width: 200px;
}

.form-container {
  height: 65%;
  width: 100%;
  background-color: #F27405;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 60px;
  gap: 30px;
  padding: 24px 0;
}

.header {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #F2F2F2;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.input-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.google-btn {
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #F2F2F2;
  color: #F2F2F2;
  padding: 8px 0;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: #F2F2F2;
  font-weight: lighter;
  transition: all 0.3s ease;
}

.input:focus::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  left: 0;
  top: 12px;
  color: #F2F2F2;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  opacity: 1;
  transform: translateY(-2rem);
}

.invalid {
  background-color: #F27405;
  color: white;
  padding: 0 5px;
  font-size: 0.875rem;
}





.login-button {
  width: 100%;
  height: 52px;
  background-color: #F2F2F2;
  --background:#F2F2F2;
  color: #F27405;
  font-weight: bold;
  --border-radius: 25px;
  border-radius: 25px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.login-button:hover {
  background-color: #F29F05;
  color: #F2F2F2;
}

.register-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.register-text {
  color: #F2F2F2;
  font-weight: bold;
}

.register-link {
  color: #F2B705;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-link:active {
  color: #F2F2F2;
}

ion-fab ion-fab-button {
  width: 115px;
  --border-radius: 5%;
  --background: #F27405;
}

ion-fab ion-fab-list ion-button {
  --background: #F27405;
  width: 150px;
}

.eyeicon {
  position: absolute;
  display: block;
  bottom: 1.1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 2;
}

ion-icon {
  font-size: 22px;
  transform: translateY(23%);
}

#logoLogIn {
  font-size: 24px;
  color: black;
  transform: translateY(1%);
}
