<div class="h-screen w-screen bg-slate-100 flex flex-col justify-start items-center py-8 px-12 gap-8 absolute">
  <div class="flex flex-col gap-2 items-center justify-center">
    <p class="text-black font-medium text-center text-sm drop-shadow-lg">Has ingresado como anonimo</p>
    <p class="text-black font-bold text-center text-3xl drop-shadow-lg">Bienvenido</p>
  </div>
  <div routerLink="/inicio-cliente" class="bg-orange-500 h-[95%] w-full rounded-xl flex flex-col justify-center items-center gap-3 shadow-2xl active:scale-95 active:bg-orange-600 active:shadow-none transition-all duration-300">
    <img src="/assets/acceso-anonimo/fila.png" alt="" class="h-24 w-24">
    <p class="text-white font-bold text-center text-2xl">Ponerse en la fila</p>
  </div>
  <div routerLink="/graficos" class="bg-orange-500 h-[95%] w-full rounded-xl flex flex-col justify-center items-center gap-3 shadow-2xl active:scale-95 active:bg-orange-600 active:shadow-none transition-all duration-300">
    <img src="/assets/acceso-anonimo/resenas.png" alt="" class="h-24 w-24">
    <p class="text-white font-bold text-center text-2xl">Ver reseñas</p>
  </div>
  <p class="text-black font-bold text-center text-xl drop-shadow-lg">Elije una opción para continuar</p>
</div>